{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="mb-3">
            <select class="form-select" id="symbol" name="symbol" placeholder="Symbol">
                {% for x in held %}
                    <option>{{ held["symbol"] }}</option>
                {% endfor %}
            </datalist>
        </div>
        <div class="mb-3">
            <input autocomplete="off" class="form-control mx-auto w-auto " id="shares" name="shares" placeholder="Shares" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}
